* {
    background:                  rgba(26, 17, 16, 0.8);
    background-alt:              #534341;
    foreground:                  #f1dfdb;
    selected:                    #ffb4a8;
    active:                      #ffb4a8;
    urgent:                      #ffb4ab;
}
