* {
    background:                  rgba(14, 20, 22, 0.8);
    background-alt:              #3f484a;
    foreground:                  #dee3e5;
    selected:                    #83d2e3;
    active:                      #83d2e3;
    urgent:                      #ffb4ab;
}
