@import "colors/matugen.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Propo", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    min-height: 0;
    border-radius: 50px;
}

window#waybar {
    background: transparent;
}

tooltip {
  background: @surface;
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

.modules-left {
    margin-left: 15px;
}

.modules-right {
    margin-right: 15px;
}

#custom-launcher,
#clock,
#workspaces,
#custom-notification,
#custom-media,
#custom-pacman,
#custom-weather,
#pulseaudio,
#network {
    background-color: @surface;
    color: @primary;
    margin-right: 10px;
    padding: 0 10px;
}

#workspaces {
    background-color: @surface;
    color: @primary;
    padding: 8px 5px;
    border-radius: 16px;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: transparent;
    background-color: @on_secondary;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @primary;
    color: @surface;
    min-width: 30px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    border-radius: 50px;
}

#workspaces button:hover {
    background-color: @secondary;
    color: @surface;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @error;
    color: @surface;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#network {
    margin: 0;
}
