@import "colors.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 0.9rem;
    font-weight: 500;
    min-height: 0;
    padding: 0;
    margin: 0;
}

.modules-center {
    background: @crust;
    padding: 6px 12px;
    border-radius: 28px;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @mantle;
    border: 1px solid @surface1;
    border-radius: 12px;
}

tooltip label {
    color: @text;
    padding: 6px;
}

#clock,
#workspaces,
#custom-media,
#pulseaudio,
#network {
    padding: 0 8px;
    margin: 0 5px;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

#workspaces {
    background: transparent;
    padding: 0;
    margin: 0 10px 0 10px;
    border: none;
    box-shadow: none; 
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 2px;
    border: none;
    border-radius: 16px;
    color: @overlay0;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: linear-gradient(135deg, @sky 0%, @flamingo 50%, @red 100%);
    color: @mantle;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background-color: @surface0;
    color: @sapphire;
}

#workspaces button.urgent {
    background-color: @red;
    color: @mantle;
}

#clock {
  color: @sapphire;
  margin: 0;
}

#pulseaudio {
  color: @peach;
  margin-left: 0;
  font-size: 17px;
}

#custom-media {
    color: @sky;
    margin: 0 0 0 10px;
}

#network {
    color: @green;
    font-size: 17px;
}
