/* wofi.css template */
window {
    margin: 0px;
    border: 2px solid #83d2e3;
    background-color: #0e1416;
    width: 300px;  /* Adjust this value to your preference */
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 14px;
}

#input {
    margin: 5px;
    border: none;
    color: #dee3e5;
    background-color: #3f484a;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #0e1416;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #006674;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #dee3e5;
}

#entry:selected {
    background-color: #83d2e3;
}

#text:selected {
    color: #00363e;
}
