/* wofi.css template */
window {
    margin: 0px;
    border: 2px solid #ffb4a8;
    background-color: #1a1110;
    width: 300px;  /* Adjust this value to your preference */
    font-family: "Sans", sans-serif;
    font-size: 14px;
}

#input {
    margin: 5px;
    border: none;
    color: #f1dfdb;
    background-color: #534341;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #1a1110;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #a24d40;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #f1dfdb;
}

#entry:selected {
    background-color: #ffb4a8;
}

#text:selected {
    color: #561e16;
}