/* wofi.css template */
window {
    margin: 0px;
    border: 2px solid {{colors.primary.default.hex}};
    background-color: {{colors.surface.default.hex}};
    width: 300px;  /* Adjust this value to your preference */
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 14px;
}

#input {
    margin: 5px;
    border: none;
    color: {{colors.on_surface.default.hex}};
    background-color: {{colors.surface_variant.default.hex}};
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: {{colors.surface.default.hex}};
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: {{colors.source_color.default.hex}};
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: {{colors.on_surface.default.hex}};
}

#entry:selected {
    background-color: {{colors.primary.default.hex}};
}

#text:selected {
    color: {{colors.on_primary.default.hex}};
}
